html,body{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select:none; /*webkit浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
}#game,.panel{
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}#blue-screen{
  display: none;
  width: 100%;
  height: 100%;
  background-color: #0091ea;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 16px;
  z-index: 2;
}#blue-screen-smile{
  font-size: 60px;
}#blue-screen-info{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}#blue-screen-qrcode img{
  width: 80px;
  height: 80px;
  margin-right: 5px;
}#blue-screen-message{
  user-select: text;
}#game{
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}#game-time{
  margin-right: 80px;
}#dialog{
  display: none;
  width: 300px;
  height: 250px;
  text-align: center;
  background-color: white;
  top: calc(50% - 125px);
  left: calc(50% - 150px);
  z-index: 1;
  position: fixed;
}#dialog-bg{
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
}.panel{
  color: white;
}#game-block-container{
  width: 300px;
  background-color: white;
}#game-block-container div span{
  outline: 1px solid black;
  color: black;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
}#game-block-container div span img{
  width: 100%;
  height: 100%;
}#game-block-container{
  margin-bottom: 0;
}#settings-panel input{
  width: 40px;
  height: 20px;
  background-color: white;
  border: none;
  outline: none;
}#settings-panel div{
  margin-bottom: 5px;
}#sound-switch-group *{
  vertical-align: middle;
}#share-panel input{
  width: 250px;
  height: 30px;
  background-color: white;
  border: none;
  outline: none;
}#game-qrcode canvas{
  width: 150px;
  height: 150px;
}#loading{
  text-align: center;
  font-size: 20px;
}#progress-bar{
  display: block;
  margin-top: 20px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
}#progress{
  width: 0;
  height: 10px;
  background-color: black;
  border-radius: 10px;
}.panel{
  display: none
}.panel-title,#settings-panel .panel-title{
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}#game button,#dialog button{
  width: 250px;
  height: 50px;
  background-color: #e3e3e3;
  margin-top: 10px;
  border: none;
  font-size: 18px
}#game button:active,#dialog button:active{
  background-color: #cfd6d8;
}#game button:first-child{
  margin: 0;
}#res-load{
  display: none
}
/*开关样式*/
switch{
  display: inline-block;
  width: 60px;
  height: 20px;
  background-color: white;
}switch:after,switch[status=off]:after{
  content: '';
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: gray;
}switch[status=on]:after{
  margin-left: 30px;
}